body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list {
    list-style: none;
    color: green;
    font-size: 50px;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    max-width: fit-content;
}
.list:hover::before {
    content: '';
    position: absolute;
}


.list::before {
    visibility: hidden;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-color: rgb(30, 119, 30);
    transform: scaleX(0);
    transition: all, 300ms ease-in-out;
    
}
.list:hover::before,
.list:focus::before {
    visibility: visible;
    transform: scaleX(1);
}

